flow.json
[{"id":"197b4b12.6327c5","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"979a5e79.e41758","type":"http in","z":"197b4b12.6327c5","name":"[Get]/test/:id","url":"/test/:id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["9a29e4d2.ee5c1"]]},{"id":"9a29e4d2.ee5c1","type":"function","z":"197b4b12.6327c5","name":"return id","func":"msg.payload={\"id\":msg.req.params.id};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["7997a7c5.b7de8"]]},{"id":"7997a7c5.b7de8","type":"http response","z":"197b4b12.6327c5","name":"Response","statusCode":"","headers":{},"x":450,"y":200,"wires":[]}]